body {
    background: var(--color-background);
}

header, header a {
    background: var(--color-header-and-menu);    
    height: 7rem;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
    color: var(--color-text-secondary);
    text-shadow: 0.1rem 0.1rem  black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}


.secondary-header {
    background: var(--color-gray-header-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    font-weight: bold;
    text-align: center;
    line-height: 1.2rem;
}


#choices-img {
    width: 8rem;
    height: 8rem;

    
}

footer {
    bottom: 0;
    position: absolute;
    color: var(--color-text-secondary);
    background: var(--color-gray-header-footer);
    width: 100vw;
    font-size: 0.8rem;
    font-weight: bold;
    height: 1.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}


.container a {
    text-decoration: none;
    color: #000;
}

.game-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.game-link-blue {
    background: var(--color-blue-background);
    width: 80vw;
    border-radius: 0.3rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    

}

.game-link-blue:hover{
    background: var(--color-blue-button) ;
}


